@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.brown {
  text-decoration: none;
  color: #94877C;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
    transition: 1s;
    color: #7a6e63;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
